src/main/resources/xsd/Extract/0.9/Extract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://geo.so.ch/schema/AGI/Cadastre/0.9/Extract"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:extract="http://geo.so.ch/schema/AGI/Cadastre/0.9/Extract">

	<xsd:complexType name="Extract">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="LogoGrundstuecksinformation"
					type="xsd:base64Binary">
				</xsd:element>
				<xsd:element name="LogoGrundstuecksinformationRef" type="xsd:anyURI">
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="FederalLogo" type="xsd:base64Binary">
				</xsd:element>
				<xsd:element name="FederalLogoRef" type="xsd:anyURI">
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="CantonalLogo" type="xsd:base64Binary">
				</xsd:element>
				<xsd:element name="CantonalLogoRef" type="xsd:anyURI">
				</xsd:element>
			</xsd:choice>
			<xsd:choice>
				<xsd:element name="MunicipalityLogo"
					type="xsd:base64Binary">
				</xsd:element>
				<xsd:element name="MunicipalityLogoRef"
					type="xsd:anyURI">
				</xsd:element>
			</xsd:choice>
			<xsd:element name="ResponsibleOffice"
				type="extract:OrganisationType" minOccurs="1">
			</xsd:element>
			<xsd:element name="RealEstate"
				type="extract:RealEstate_DPR" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="CreationDate" type="xsd:dateTime"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Street" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="100"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Number" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="7"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PostalCode" minOccurs="0"
				type="xsd:int">
			</xsd:element>
			<xsd:element name="City" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="80"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GetExtractByIdResponseType">
		<xsd:sequence>
			<xsd:element name="Extract" type="extract:Extract"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetExtractByIdResponse"
		type="extract:GetExtractByIdResponseType">
	</xsd:element>

	<xsd:complexType name="RealEstate_DPR" abstract="false">
		<xsd:sequence>
			<xsd:element name="Number" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="12"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentND" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="12"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EGRID" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="14"></xsd:minLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocalName"
				type="extract:LocalNameType" minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element name="LandCoverShare"
				type="extract:LandCoverShareType" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
			<xsd:element name="SurveyorOffice"
				type="extract:OrganisationType" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="LandRegisterOffice"
				type="extract:OrganisationType" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Type" type="xsd:string" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="Municipality" minOccurs="1"
				type="xsd:normalizedString" maxOccurs="1">
			</xsd:element>
			<xsd:element name="SubunitOfLandRegister" minOccurs="0"
				type="xsd:normalizedString">
			</xsd:element>
			<xsd:element name="LandRegistryArea" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minExclusive value="0"></xsd:minExclusive>
						<xsd:maxExclusive value="999999999"></xsd:maxExclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Map" type="extract:Map" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="Building" type="extract:BuildingType"
				minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element name="StateOf" type="xsd:date" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="SupervisionOffice"
				type="extract:OrganisationType" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Limit" type="xsd:normalizedString"
				minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BuildingType">
		<xsd:sequence>
			<xsd:element name="Egid" type="xsd:int" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="planned" type="xsd:boolean"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="undergroundStructure"
				type="xsd:boolean" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Area" type="xsd:double" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="AreaShare" type="xsd:double"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="BuildingEntry"
				type="extract:BuildingEntryType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GetEGRIDResponseType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Egrid" type="xsd:token"></xsd:element>
			<xsd:element name="Number" type="xsd:token"></xsd:element>
			<xsd:element name="IdentND" type="xsd:token"></xsd:element>
			<xsd:element name="Type" type="extract:RealEstateType"></xsd:element>
			<xsd:element name="StateOf" type="xsd:date"></xsd:element>
			<xsd:element name="Limit" type="xsd:normalizedString"></xsd:element>
			<xsd:element name="planned" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="RealEstateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RealEstate" />
			<xsd:enumeration
				value="Distinct_and_permanent_rights.BuildingRight" />
			<xsd:enumeration
				value="Distinct_and_permanent_rights.right_to_spring_water" />
			<xsd:enumeration
				value="Distinct_and_permanent_rights.concession" />
			<xsd:enumeration
				value="Distinct_and_permanent_rights.other" />
			<xsd:enumeration value="Mineral_rights" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="OrganisationType">
		<xsd:sequence>
			<xsd:element name="Person"
				type="extract:PersonAddressType" minOccurs="0">
			</xsd:element>
			<xsd:element name="Line1" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Line2" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Address" type="extract:AddressType"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Phone" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Email" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Web" type="xsd:anyURI" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="Name" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PersonAddressType">
		<xsd:sequence>
			<xsd:element name="FirstName" type="xsd:string"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="LastName" type="xsd:string"
				minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GetEGRIDResponse"
		type="extract:GetEGRIDResponseType"></xsd:element>

	<xsd:complexType name="LandCoverShareType">
		<xsd:sequence>
			<xsd:element name="Type" type="extract:LCType"
				minOccurs="0" />
			<xsd:element name="Area" type="xsd:double" minOccurs="0" />
			<xsd:element name="TypeDescription" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="80" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="LCType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="Gebaeude" />
			<xsd:enumeration value="befestigt.Strasse_Weg" />
			<xsd:enumeration value="befestigt.Trottoir" />
			<xsd:enumeration value="befestigt.Verkehrsinsel" />
			<xsd:enumeration value="befestigt.Bahn" />
			<xsd:enumeration value="befestigt.Flugplatz" />
			<xsd:enumeration value="befestigt.Wasserbecken" />
			<xsd:enumeration value="befestigt.uebrige_befestigte" />
			<xsd:enumeration value="humusiert.Acker_Wiese_Weide" />
			<xsd:enumeration
				value="humusiert.Intensivkultur.Reben" />
			<xsd:enumeration
				value="humusiert.Intensivkultur.uebrige_Intensivkultur" />
			<xsd:enumeration value="humusiert.Gartenanlage" />
			<xsd:enumeration value="humusiert.Hoch_Flachmoor" />
			<xsd:enumeration value="humusiert.uebrige_humusierte" />
			<xsd:enumeration value="Gewaesser.stehendes" />
			<xsd:enumeration value="Gewaesser.fliessendes" />
			<xsd:enumeration value="Gewaesser.Schilfguertel" />
			<xsd:enumeration value="bestockt.geschlossener_Wald" />
			<xsd:enumeration
				value="bestockt.Wytweide.Wytweide_dicht" />
			<xsd:enumeration
				value="bestockt.Wytweide.Wytweide_offen" />
			<xsd:enumeration value="bestockt.uebrige_bestockte" />
			<xsd:enumeration value="vegetationslos.Fels" />
			<xsd:enumeration
				value="vegetationslos.Gletscher_Firn" />
			<xsd:enumeration value="vegetationslos.Geroell_Sand" />
			<xsd:enumeration value="vegetationslos.Abbau_Deponie" />
			<xsd:enumeration
				value="vegetationslos.uebrige_vegetationslose" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="Map">
		<xsd:sequence>
			<xsd:element name="Image" type="xsd:base64Binary"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="ReferenceWMS" type="xsd:anyURI"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="LegendAtWeb" type="xsd:anyURI"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="min_NS95" type="xsd:normalizedString"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="max_NS95" type="xsd:normalizedString"
				minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LocalNameType">
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="BuildingEntryType">
		<xsd:sequence>
			<xsd:element name="Edid" type="xsd:int" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="PostalAddress"
				type="extract:AddressType" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Egid" type="xsd:int" minOccurs="0"
				maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Transaction">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Identifier" type="xsd:normalizedString"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="IdentND" type="xsd:normalizedString"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="EGRID" type="xsd:normalizedString" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>